.contact-us{
  h2{
    margin-top: 0;
  }
  p.help-block{
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    color: #a94442;
  }
}

.form-control{
  border-radius: 0;
  box-shadow: none;
  border: solid 1px #eee;
}

label{
  font-family: 'Raleway', sans-serif;
  margin-top: 15px;
}