@mixin background-image($url){
  background-image: url($url);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.margin-top{
  margin-top: 0px;
  &.mobile{
    margin-top: 30px;  
  }
  @media screen and (min-width: 768px) {
    margin-top: 50px;
  }
}

.strong{
  color: rgba(5, 47, 87, 1.0);
  font-weight: bolder;
}