/* line 2, ../../app/styles/health_and_safety.scss */
.health-and-safety h2 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1.5px;
}
/* line 6, ../../app/styles/health_and_safety.scss */
.health-and-safety .number {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  margin-right: 10px;
}