/* line 8, ../../app/styles/mixins.scss */
.margin-top {
  margin-top: 0px;
}
/* line 10, ../../app/styles/mixins.scss */
.margin-top.mobile {
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  /* line 8, ../../app/styles/mixins.scss */
  .margin-top {
    margin-top: 50px;
  }
}

/* line 18, ../../app/styles/mixins.scss */
.strong {
  color: #052f57;
  font-weight: bolder;
}