/* line 1, ../../app/styles/the_team.scss */
.number {
  font-size: 2rem;
  font-family: 'Raleway', sans-serif;
  margin-right: 10px;
  text-transform: capitalize;
}

/* line 13, ../../app/styles/the_team.scss */
.dark {
  color: rgba(0, 0, 0, 0.9);
}