<div class="row row-eq-height about-the-force">
  <div class="col-md-6">
    <div class="main-image about img-responsive"></div>
  </div>
  <div class="col-md-6">
    <h2 class="text-center">About the Force</h2>
    <p class="introduction"><br>
      The Labour Force team has worked in the construction industry for several years and got fed up
      wasting our time, energy and money searching for reliable labourers, it was like trying to find a
      needle in haystack! <br><br>
      We found this problem to be massive in the whole construction industry. We hated going through
      agencies, we hated the high turnover of labourers all in search of the one reliable labourer. <br><br>
      We set out on a mission to solve this problem by creating Labour Force. We differ from agencies
      as we already have a successful team ready for work. Our employees are proven to be hard
      working, reliable and integral. <br><br>
      We value every person in our workforce and that’s why we invest in our employees with ongoing
      training so they can give their best to your project in the most stress free manner. Whether you
      need a construction crew to see a project from start to finish or one labourer for an afternoon's
      work, we can provide you with experienced members of our team. <br><br>
      Our force consists of high quality labourers with a blend of skills and experiences that can be
      tailored to your needs. Focusing exclusively on labour means that we know what makes a valuable
      construction worker. <br><br>
      When it comes to quality control we are hands on, we will get together with you frequently to make
      sure you are getting a reliable service.ol we are hands on, we will get together with you frequently to make sure you are getting a reliable service.
    </p>
  </div>
  <div class="col-md-12 text-center margin-top">
    <a href="#!/our-services"><h3 class="next-page">View Our Services &#8594; </h3></a>
  </div>
</div>
