<div class="row row-eq-height about-the-force">
  <div class="col-md-6">
    <h2 class="text-center">About the Force</h2>
    <p class="introduction">
      Labour Force provides skilled and reliable labourers for any construction job, no matter how big or small. Whether you need a construction crew to see a project from start to finish or one labourer for an afternoons work, we can provide you with experienced members of our team. <br><br>

      Labour Force differs from agencies as we already have a successful team ready for work. Our employees have already been proven to be hard working, reliable and integral. We value every person in our workforce and that’s why we invest in our employees with ongoing training so they can give their best to your project. <br><br>

      Our force consists of high quality labourers with a blend of skills and experiences that can be tailored to your needs. Focusing exclusively on labour means that we know what makes a valuable construction worker. <br><br>

      When it comes to quality control we are hands on, we will get together with you frequently to make sure you are getting a reliable service.
    </p>
  </div>
  <div class="col-md-6 main-image about img-responsive">
  </div>
  <div class="col-md-12 text-center margin-top">
    <a href="#!/our-services"><h3 class="next-page">View Our Services &#8594; </h3></a>
  </div>
</div>
