<div class="health-and-safety">
  <div class="row">
    <div class="col">
      <div class="main-image health-and-safety img-responsive">
        <div class="cover"></div>
        <h3>Health & Safety</h3>
      </div>
    </div>
  </div>
  <div class="row margin-top">
    <div class="col-xs-12">
      <p>We understand the importance of health & safety for a successful completion of a project. We ensure our team have the correct training so they follow all practices, keeping your site safe and secure.</p>
    </div>
    <div class="col-xs-12 margin-top mobile">
      <h2 class="margin-top text-left no-caps dark">We keep health and safety as a top priority by:</h2>
      <p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Ensuring safe working conditions for potentially high risk jobs e.g. working at height, heavy lifting and working with machinery.</p>
    </div>
    <div class="col-xs-12">
      <p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Making sure our H&S procedures are fully CDM compliant.<p>
    </div>
    <div class="col-xs-12">
      <p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Providing  H&S training for every member of the force.</p>
    </div>
    <div class="col-xs-12">
      <p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Carrying out regular risk management to avoid any potential risks.</p>
    </div>
    <div class="col-xs-12">
      <p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Submission of RAMS to show full compliance with CDM guidelines.</p>
    </div>
    <div class="col-xs-12 margin-top mobile">
      <p>Our health and safety procedures are regularly updated and procedures and policies reflect best practices. With Labour Force on site, we'll take care of every health and safety detail from risk assessment to providing the right equipment, ensuring a safe secure environment.</p>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-xs-12 text-center margin-top">
    <a href="#!/contact-us"><h3 class="next-page">Contact Us &#8594; </h3></a>
  </div>
</div>
