<div class="row no-gutters">
  <div class="col-md-12">
    <div class="main-image home img-responsive">
      <div class="cover"></div>
      <h3>Welcome</h3>
    </div>
    <div class="col-md-12 introduction">
      <p class="text-center title">
        SUPPLIER OF LABOUR IN THE SURREY AND LONDON AREA
      </p>
      <p class="text-center">Do you struggle finding reliable labourers?</p>
<br>
<p class="text-center">Do you hate going through agencies who only care about soulless databases?
</p> <br>
<p class="text-center">Would you rather focus your time and energy on just getting the project done?</p>
<br>
<p class="text-center">Welcome to The Labour Force.</p>
<br>
<p class="text-center">A company that values its employees and doesn't see them as merely a name and a number. We
treat them like any other tradesman on site with compassion and respect. In return they work exceptionally hard and go the extra mile.</p>

<p class="text-center">If you want to complete your project in a seamless and stress free manner we would love for you to trial one of our labourers. Please do not hesitate to get in touch!</p>

<p class="text-center">The Labour Force Team</p>
    </div>
    <div class="col-md-12 text-center margin-top">
      <a href="#!/about"><h3 class="next-page">About The Force &#8594; </h3></a>
    </div>
  </div>
</div>