<div class="row">
  <div class="col">
    <div class="main-image our-services img-responsive">
      <div class="cover"></div>
      <h3>Our Services</h3>
    </div>
  </div>
</div>
<h2 class="margin-top main-service-heading">We provide labour for the following services</h2>
<div class="row row-eq-height justify-content-around our-services extra-margin margin-top mobile">
  <div class="col-md-6"> 
  <h2>Interior stripping</h2>
  <p class="margin-top">Our experienced labourers will remove anything you desire be that heating, ventilation, air
conditioning, electrical systems or appliances, non-loaded bearing partitions, floors, ceilings, the
list is endless!</p>
  </div>
  <div class="col-md-6"> <h2>Soft stripping</h2>
  <p class="margin-top">Our team will soft strip the building head to toe and ensure removal of all loose elements. We'll strip out all wood, metal, plastics and rubble, remove all materials, and send them for recycling where appropriate. </p>
  </div>
</div>
<div class="row margin-top justify-content-center">
  <div class="col-md-5">
    <div class="line"></div>
  </div>
</div>
<div class="row row-eq-height justify-content-around margin-top our-services">
  <div class="col-md-6"> <h2>Demolition</h2>
  <p class="margin-top">Our demolition experts will ensure a clean, safe demolition. Our service covers everything from a simple demolition to carefully working around the façade of a listed building. </p>
  </div>
  <div class="col-md-6"> <h2>Final cleaning</h2>
  <p class="margin-top">Our final cleaning service uses only the safest and most efficient techniques to get your site cleaned up. Whether you're working on a renovation, fit out, or a new build, our team will leave your site clean and secure. </p>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center margin-top">
    <a href="#!/the-team"><h3 class="next-page">View The Team &#8594; </h3></a>
  </div>
</div>