<div class="row row-eq-height justify-content-around the-team">
  <div class="col-md-4 team-member">
    <!-- <img class="img-responsive image" src="../images/smiling_gent.jpg"> -->
    <div class="image" style="background-image: url(../images/smiling_gent.jpg);"></div>
    <h3 class="name">Billy Rozman</h3>
  </div>
  <div class="col-md-4 team-member">
    <!-- <img class="img-responsive image" src="../images/smiling_lady.jpg"> -->
    <div class="image" style="background-image: url(../images/smiling_lady.jpg);"></div>
    <h3 class="name">Larisa Niven</h3>
  </div>
  <div class="col-md-4 team-member">
    <!-- <img class="img-responsive image" src="../images/smiling_gent1.jpg"> -->
    <div class="image" style="background-image: url(../images/smiling_gent1.jpg);"></div>
    <h3 class="name">Willis Devries</h3>
  </div>
  <div class="col-md-4 team-member">
    <!-- <img class="img-responsive image" src="../images/smiling_lady1.jpg"> -->
    <div class="image" style="background-image: url(../images/smiling_lady1.jpg);"></div>
    <h3 class="name">Nicki Almazan</h3>
  </div>
  <div class="col-md-4 team-member">
    <!-- <img class="img-responsive image" src="../images/smiling_gent2.jpg"> -->
    <div class="image" style="background-image: url(../images/smiling_gent2.jpg);"></div>
    <h3 class="name">Roger Dauphin</h3>
  </div>
  <div class="col-md-4 team-member">
    <!-- <img class="img-responsive image" src="../images/smiling_lady2.jpg"> -->
    <div class="image" style="background-image: url(../images/smiling_lady2.jpg);"></div>
    <h3 class="name">Nikita Falcone</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12 text-center margin-top">
    <a href="#!/health-and-safety"><h3 class="next-page">View Health & Safety &#8594; </h3></a>
  </div>
</div>