<div class="row">
  <div class="col-sm-12">
    <div class="main-image the-team img-responsive">
      <div class="cover"></div>
      <h3>The Team</h3>
    </div>
  </div>
</div>


<div class="row margin-top row-eq-height justify-content-around the-team">

<div class="col">
  <p>We focus on providing high quality labour so you can focus on keeping your project moving. Every member of our workforce has skills and experience you can trust.</p>
  <p class="margin-top strong">We guarantee all of our employees have:</p>
  <ul class="list-unstyled margin-top">
    <li><p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Eligibility to work in the UK.</p></li>
    <li><p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>CSCS card.</p></li>
    <li><p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Relevant work experience or qualifications.</p></li>
    <li><p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Completed background check.</p></li>
    <li><p><span class="number"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span>Recent references from previous employers.</p></li>
  </ul>
  <p class="margin-top">
    We know that finding the right labourer is about more than just having the right qualifications. That's why we only take on team members with a good attitude and strong work ethic. <br><br>
    Our experienced team also come fully equipped with their own personal protective equipment.
  </p>
</div>
</div>

<div class="row">
  <div class="col-md-12 text-center margin-top">
    <a href="#!/health-and-safety"><h3 class="next-page">View Health & Safety &#8594; </h3></a>
  </div>
</div>